<% @articles.map do |article| %>

  <div>
    <h3><%= Language.new(article["title"].gsub(/[^[a-zA-Z.!?,\s]]/, "").split.join("+")) %></h3>

    <p><%= Language.new(article["teaser"].gsub(/[^[a-zA-Z.!?,\s]]/, "").split.join("+")) %></p>
  </div>

<% end %>

<%= @yoda %>
